@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Montserrat:wght@400;500&display=swap');
.navbar {

    background-color:#FFFAED;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 34px;
    
}
.img {

    src:url("/site/public/assets/headerImg/Basket.png");
}
.navbar>div {

    display: flex;
    align-items: center;
    margin-left: 70px;
    margin-right: 70px;
    font-family: 'Inter';
    font-style: normal;
}

.leftElements {

    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}
.leftElements>p {

    margin-left: 7.5px;
}

.centerElements>a {

    margin: 15px;    
    font-weight: 100;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.rightElements>p {    
    
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 20px;
}
.basket {

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.circle
{
    position:absolute;
    left:calc(50% - 12px);
   
   
}
.basket>p {
    position: absolute;
    top: 0;
    right: -5%;
    font-size: 10px;
    font-weight: bold;
    color:white;
    width: 20px;
    height: 20px;
    background-color: #FDAC1F;
    border-radius: 100px;
    text-align: center;
    padding-top: calc(50% - 22px);
}