.root {
  @apply sticky top-0 bg-primary z-40 transition-all duration-150;
  min-height: 74px;
  width: 100%;
}

.nav {
  @apply relative flex flex-row justify-between py-4 md:py-4;
 
  
}

.navMenu {
  @apply hidden ml-6 space-x-4 lg:block;
}

.link {
  @apply inline-flex items-center leading-6
  transition ease-in-out duration-75 cursor-pointer
  text-accent-5;
}

.link:hover {
  @apply text-accent-9;
}

.link:focus {
  @apply outline-none text-accent-8;
}

.logo {
  @apply cursor-pointer rounded-full border transform duration-100 ease-in-out;

  &:hover {
    @apply shadow-md;
    transform: scale(1.05);
  }
}
.leftElements {

  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
.centerElements>a {

  margin: 15px;
  font-weight: 100;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.centerElements {

  display: flex;
  align-items: center;
  margin-left: 70px;
  margin-right: 70px;
  font-family: 'Inter';
  font-style: normal;
}
.container
{
  background-color: #FFFAED;
}